# JetBrains project folder
.idea/

# Cmake build folders
cmake-build-debug/
cmake-build-release/
debug/
release/
build/

# The database folder (have to be put manually)
database/
output/

# Binaries
*.bin
*.obj
*.exe
*.o
*.lib
*.dll
*.so

# Benchmark results
test/python/*.json
test/python/*.txt

# Undesired files due to wrong utilization of cmake
test/*.cmake
test/Makefile
test/CMakeFiles
sources/*.cmake
sources/Makefile
sources/CMakeFiles

# Swap files
**/*.swp
